.vscode/**
.github/**
test-data/*
build_scripts/*
**/*.ts
**/*.vue
**/*.slang
**/*.map
esbuild.config.mjs
**/.gitignore
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.travis.yml
**/node_modules/**
**/package.json
**/package-lock.json
!package.json
emsdk/
slang-repo/
